.NotFound{
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   position: absolute;
}
.NotFound__text{
   vertical-align: middle;
   text-align: center;
}
.NotFound__img{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}
